body {
    font-family: -apple-system;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: white;
    background-color: #333333;
    padding: 1em;
}

p {
    text-align: justify;
}
