//
//  Config.xcconfig
//  CryptoX
//
//  Created by Zhanna Komar on 04.04.2025.
//  Copyright © 2025 pioneeringtechventures. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

API_KEY = 6515da6d-a065-4676-a214-c83e5b18f5f3
